<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Cards</title>
</head>

<body>


    <!--  -->
    <div class="body2">
        <div class="cont">
            <div class="box" style="--clr:#09ec5b;">
                <div class="tent">
                    <div class="iconn">
                        <ion-icon name="game-controller-sharp"></ion-icon>
                    </div>
                    <div class="text">
                        <h3>GAME</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                    <a href="#">READ MORE</a>
                </div>
            </div>

            <!-- <div class="box" style="--clr:#9104d2;">
                <div class="content">
                    <div class="icon">
                        <ion-icon name="code-slash-sharp"></ion-icon>
                    </div>
                    <div class="text">
                        <h3>WEB DEVELOPING</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque laboriosam ea aut reiciendis
                            tenetur.</p>
                    </div>
                    <a href="#">READ MORE</a>
                </div>
            </div>

            <div class="box" style="--clr:#094dec;">
                <div class="content">
                    <div class="icon">
                        <ion-icon name="headset-sharp"></ion-icon>
                    </div>
                    <div class="text">
                        <h3>MUSIC</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                    </div>
                    <a href="#">READ MORE</a>
                </div>
            </div> -->
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>